on:
  pull_request:
  merge_group:

name: Continuous integration

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: rustup install --profile minimal stable
      - uses: Swatinem/rust-cache@v2
      - run: cargo +stable check --all-targets

  cargo-deny:
    name: cargo deny
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: embarkStudios/cargo-deny-action@v2

  test:
    name: Test suite
    runs-on: ubuntu-latest
    needs: check
    strategy:
      matrix:
        toolchain: [stable, beta, nightly, msrv]
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
        name: Checkout
      - name: Install Rust toolchain
        run: |
          if [ ${{ matrix.toolchain }} = msrv ]; then
            toolchain=$(awk -F '"' '/^rust-version =/ {print $2}' Cargo.toml)
          else
            toolchain=${{ matrix.toolchain }}
          fi
          rustup install --profile minimal $toolchain
          rustup default $toolchain
      - uses: Swatinem/rust-cache@v2
      - run: cargo test --tests --benches
        env:
          TOOLCHAIN: ${{ matrix.toolchain }}
      - run: cargo test --release --tests --benches
        env:
          TOOLCHAIN: ${{ matrix.toolchain }}

  test-minimal-versions:
    name: Test with minimal versions
    runs-on: ubuntu-latest
    needs: check
    steps:
      - uses: actions/checkout@v6
        name: Checkout
      - name: Install Rust toolchain
        run: |
          rustup install --profile minimal nightly
          rustup install --profile minimal stable
      - uses: Swatinem/rust-cache@v2
      - run: cargo test --tests --benches
      - run: cargo +nightly update -Zminimal-versions
        name: Set dependencies to the minimal version allowed
      - run: cargo +stable test --tests --benches

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    needs: check
    steps:
      - uses: actions/checkout@v6
      - run: rustup install --profile minimal stable
      - run: rustup +stable component add rustfmt
      - uses: Swatinem/rust-cache@v2
      - run: cargo +stable fmt --all --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    needs: check
    steps:
      - uses: actions/checkout@v6
      - run: rustup install --profile minimal nightly
      - run: rustup +nightly component add clippy
      - uses: Swatinem/rust-cache@v2
      - run: cargo +nightly clippy -- -D clippy::pedantic
      - run: cargo +nightly clippy --all-targets -- -D warnings
